

   
    <% for (let blogPost of blogPosts) { %>

    <div class="container">
     
      <div class="card" style="width:300px">
        <img class="card-img-top" src="<%= blogPost.imageName %>"" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"><%= blogPost.title %></h4>
          <p class="card-text"><%= blogPost.detail %></p>
          <a href="#" class="btn btn-primary">Read Blog</a>
        </div>
      </div>
      <% } %>
     
  