

   
    

    <div class="container">
     
      
        <img  src="<%= blogPost.imageName %>""  style="width:100%">
        
          <h4><%= blogPost.title %></h4>
          <p><%- blogPost.detail -%></p>
        
        <
      </div>
      
     
  